.main {
    margin: 2%;
}

.form {
    margin-top: 5%;
    margin-inline: 10%;
}

.clipboardBtn {
    text-align: right;
}

.card-header {
    padding-bottom: 5%;
}

.card {
    margin: 5%;
}

.btn {
    margin: 10px;
}

.input {
    margin: 2%;
}